.contentInput{
    padding: 10px;
    border: 1px solid #ABABAB;
    width: 100%;
    margin-bottom: 18px;
}
.contentCruz::before{
    content: '';
    background: url("assets/svg/cross-solid.svg");
    width: 23px;
    height: 30px;
    display: block;
}