.formSubmitContainer :global(.vtex-button){
    width: 100%;
    background: #009759;
    border-radius: 14px;
    height: 40px;
    font-size: 14px;
    text-transform: initial;
}
@media only screen and (max-width: 640px) {
    .formSubmitContainer :global(.vtex-button){
        margin-top: 10px;
    }
}