.searchResultContainer--shelfs-search{
    margin-top: 2rem;
}

.filter__container .filterMessage {
    font-size: 16px;
    line-height: 16px;
    color: #009759;
    letter-spacing: 0.03em;
}

.filterTitleSpan, .filterTitle{
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    letter-spacing: 0.03em;
    text-transform: initial;
}

.filterIcon{
    color: #262626;
}

.filterItem{
    padding: 0.3rem 0;
}

.filterItem :global(.vtex-checkbox__line-container){
    display: flex;
    align-items: center;
}

.filterItem :global(.vtex-checkbox__label) {
    font-size: 12px;
    line-height: 12px;
    color: #262626;
    text-transform: capitalize;
}

.galleryTitle--layout{
    padding-left: 1.8rem;
    font-size: 36px;
    margin: 0.5rem 0 1rem;
}

.galleryTitle--layout::before{
    content: "Resultado de Busca para";
    margin-right: 10px;
}

.totalProducts--layout, .galleryLayoutSwitcher{
    display: none;
}

.container--layout--shelfs-search :global(.vtex-breadcrumb-1-x-container){
    padding-left: 1.5rem;
}

.container--layout--shelfs-search :global(.vtex-product-summary-2-x-element){
    padding: 1rem 0.9rem 1rem;
}

.container--layout--shelfs-search :global(.vtex-product-summary-2-x-nameContainer ){
    padding-top: 0.5rem;
}

.gallery{
    margin-top: 0.5rem;;
    padding-left: 1rem;
}

:global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText){
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
}

.orderByButton{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 0.8rem 0 0.8rem 1rem;
}

:global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-gridIcon), :global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-inlineGridIcon){
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    text-transform: initial;
    margin-right: 10px;
}

.buttonShowMore :global(.vtex-button){
    margin-top: 4rem;
    background: #24a670;
    border: 0;
    min-width: 300px;
    padding: 0.8rem 0;
    text-transform: initial;
    border-radius: 12px;
}

@media only screen and (max-width: 1024px) {
    .accordionFilter{
        background: #fff;
    }
    .filterAccordionBreadcrumbs{
        background: #e5f5ee;
        border: 0;
    }
    .filterBreadcrumbsText, .accordionFilterItemTitle, .filterBreadcrumbsItemName {
        font-size: 1rem;
    }
    .filterPopupButton{
        background: #e5f5ee;
        height: 38px;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        padding: 0rem 2rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
    }
    .filterPopupTitle{
        text-transform: capitalize;
        font-size: 14px;
        line-height: 16px;
    }
    .orderByButton{
        background: #FFFFFF;
        border-radius: 4px;
        justify-content: center;
        height: 38px;
    }
    .gallery{
        margin-top: 0.5rem;;
        padding: 0.5rem;
        background: #fff;
        border-radius: 4px;
    }
    .galleryItem{
        padding: 0.2rem;
    }
    .galleryItem :global(.vtex-product-summary-2-x-element){
        background: #FAFAFA;
        padding: 0rem 0.9rem 1rem;
    }
    .container--layout--shelfs-search :global(.vtex-store-components-3-x-container){
        padding: 0;
    }
    .container--layout--shelfs-search :global(.vtex-flex-layout-0-x-flexRowContent){
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 640px) {
    :global(.vtex-search-result-3-x-filters--layout){
        min-width: auto;
    }
}