.headerContainer {
    border: 0;
}
.triggerContainer{
    border: 1px solid #009759;
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.triggerContainer :global(.vtex-rich-text-0-x-paragraph){
    color: #009759;
    font-size: 14px;
}

/* Modal Busca Homenageado */
.paper--modal-homenageado{
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 2rem;
    max-height: fit-content;
}
.closeButtonContainer--btn-close-modal{
    position: absolute;
    right: 0px;
    top: 5px;
}
.paper--modal-homenageado :global(.vtex-rich-text-0-x-headingLevel3){
    font-size: 20px;
    color: #009759;
    margin-top: 7px;
}
.paper--modal-homenageado :global(.vtex-rich-text-0-x-wrapper--label-name-homenageado){
    font-size: 18px;
    color: #009759;
    font-family: 'montserratlight';
    margin: 0;
    padding: 0;
}