.profile {
    text-transform: initial;
}
.arrowUp{
    left: 15px;
}
.box{
    transform: translate(80%, 0%);
    max-width: 250px;
    min-width: initial;
}
.contentContainer{
    min-width: 250px;
}
.contentForm {
    min-width: initial;
    width: 100%;
}
.buttonLink{
    padding: 0 1rem;
    border-radius: 10px;
    background: #E5F5EE;
    height: 44px;
    display: flex;
    align-items: center;
}

.buttonLink :global(.vtex-button__label){
    padding: 0;
}

:global(.vtex-login-2-x-content) {
    margin-top: 15px;
    background: #fff;
    border-radius: 10px;
}
content :global(.vtex-button ) {
    outline: none;
}
:global(.vtex-login-2-x-formTitle) {
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
:global(.vtex-login-2-x-label) {
    text-transform: initial;
    text-align: left;
    color: #009759;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0px;
    padding-top: 3px;
}

@media only screen and (max-width: 1024px) {
    .buttonLink{
        padding: 0;
        border-radius: 100%;
        background: #E5F5EE;
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 1rem;
    }
    .buttonLink :global(.vtex-button), .buttonLink :global(.vtex-button__label){
        width: 44px;
        height: 44px;
        border: 0px; 
    }
    .buttonLink .profileIcon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 640px) {
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
}