.title {
    color: #009759;
    font-size: 20px;
    justify-content: left;
}

.shelfContentContainer--card :global(.vtex-slider-0-x-sliderFrame){
    justify-content: flex-start;
}

.dot{
    background: #33AC7A;
    width: 12px!important;
    height: 12px!important;
}

.dot--isActive{
    background: #fff;
    width: 24px!important;
    height: 12px!important;
    border-radius: 6px;
}

:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}

.sliderContainer .arrowLeft{
    left: -30px;
    background: #BFE5D5;
    height: 84px;
    width: 84px;
    display: flex;
    align-items: center;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: 0;
    padding-left: 10px;
}

.sliderContainer .arrowRight{
    right: -30px;
    background: #BFE5D5;
    height: 84px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 0;
    padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .sliderContainer .arrowLeft, .sliderContainer .arrowRight{
        display: none;
    }
}