:global(.vtex-rich-text-0-x) .container--titulosvitrine {
  width: 100%;
  display: inline-block;
}

.paragraph--text-category{
  margin: 0px;
  font-size: 16px;
  line-height: 20px;
  color: #4C4C4C;
}

.headingLevel3--titulosvitrine {
  color: #4C4C4C;
  font-size: 24px;
  line-height: 24px;
}

:global(.vtex-store-footer-2-x-footerLayout) .heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel3 {
  font-size: 30px;
}

:global(.vtex-rich-text-0-x-container--texto-qtd){
  display: flex;
  align-self: center;
}

.paragraph--section-title {
  margin:0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  color: #eb6a18;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  font-size: 1.5rem;
}

}

:global(.vtex-flex-layout-0-x-flexCol--menu-categorias-container) .link, :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .link {
  color: #282D2F;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

/* Maps Footer */
.container--tituloaddress .wrapper--tituloaddress{
  width: 100%;
}

.heading--tituloaddress{
  font-size: 20px !important;
  line-height: 20px;
  color: #009759;
  text-transform: initial !important;
}

.paragraph--tituloaddress, .link--tituloaddress{
  font-size: 16px !important;
  line-height: 24px;
  color: #8C8C8C !important;
  font-family: 'montserratlight';
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel4 {
  font-size: 14px;
  color: #fff;
  text-transform: initial;
  font-weight: 500;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel5 {
  color: #009759;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0px;
}

:global(.vtex-store-footer-2-x-footerLayout) .link {
  color:#fff;
  text-decoration: none !important;
}

:global(.vtex-store-footer-2-x-footerLayout) .link:hover {
  text-decoration: underline;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph {
  margin-top:0;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.container--navegue-ambientes {
  color: #20211f;
  width: 100%;
}
.paragraph--navegue-ambientes {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  font-size: 1.5rem;
  display: flex;
  font-weight: 700;
}
.container--titulosvitrine :global(.vtex-rich-text-0-x-wrapper--titulosvitrine){
  display: inline-block;
  width: 100%;
}
.paragraph--warning--store{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.paragraph--warning--store .image--warning--store{
  max-width: 30px;
  margin-right: 10px;
}
.list--warning--store{
  padding-left: 25px;
  color: #4C4C4C;
  font-size: 12px;
}

.paragraph--copyright-mobile {
  margin-top: 20px!important;
  text-align: center !important;
}
.wrapper--button-ofertas-home{
  width: 100%;
}
.link--text-category{
  color: #20211f;
  font-size: 15px;
  text-decoration: none;
}
.paragraph--texto-qtd{
  color: #20211f;
  font-size: 1.188rem;
  font-weight: bold;
  margin: 0;
}

/* Page Location Store */
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexCol){
  flex-wrap: wrap;
  flex-direction: initial;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-rich-text-0-x-wrapper--col-store-list){
  background: #f5f5f5;
  padding: 10px 20px;
  min-height: 250px;
  border-radius: 15px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-rich-text-0-x-heading){
  margin-bottom: 0;
}
@media only screen and (max-width: 1023px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 50%;
  }
  :global(.vtex-store-footer-2-x-footerLayout) .headingLevel5 {
    margin-top: 25px;
  }

  .heading--tituloaddress{
    font-size: 14px !important;
    line-height: 14px;
    color: #009759;
    text-transform: initial !important;
  }
  
  .paragraph--tituloaddress{
    font-size: 12px !important;
    line-height: 20px;
    color: #8C8C8C !important;
    font-family: 'montserratlight';
  }

  .wrapper--line__col_social{
    width: 100%;
  }

  .heading--line__col_social{
    text-align: center;
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 10px;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 480px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 100%;
  }
}