.container:hover{
  -webkit-box-shadow: 0px 0px 13px -2px rgb(141 138 138 / 85%);
  -moz-box-shadow: 0px 0px 13px -2px rgb(141 138 138 / 85%);
  box-shadow: rgb(141 138 138 / 85%) 0px 0px 13px -2px;
}
:global(.vtex-product-summary-2-x-container--listLayout) {
  min-width: 100%;
}
:global(.vtex-product-summary-2-x-container--listLayout) :global(.vtex-button) {
  margin-top: 20px;
}
:global(.vtex-product-summary-2-x-element){
  padding: 0 0.9rem 1rem;
  background: #fff;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-nameContainer){
  padding: 0;
  justify-content: start;
  height: 34px;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-brandName){
  line-height: 17px;
  color: #595959;
  text-align: left;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-sellingPrice){
  color: #4C4C4C;
  font-size: 14px;
  font-weight: bold;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-store-components-3-x-priceContainer){
  width: 100%;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-store-components-3-x-installmentsPrice){
  color: #009759;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-align: left;
  margin-top: 0.3rem;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-button){
  background: #009759;
  color: #212220;
  text-transform: uppercase;
  border-radius: 30px;
  border: 0;
  border: 1px solid #009759;
  font-size: 15px;
}
:global(.vtex-product-summary-2-x-element) :global(.vtex-button):hover{
  background: #fff;
  color: #009759;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 15px;
}

