.quantitySelectorContainer {
    margin: 0;
    height: 44px;
    max-width: 183px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

:global(.vtex-numeric-stepper-container ) {
    background: #e7f9f1;
    border-radius: 16px;
}

:global(.vtex-numeric-stepper__minus-button__text) {
    font-size: 32px;
    color: #009759;
    font-weight: 500;
}

:global(.vtex-numeric-stepper__plus-button__text ) {
    font-size: 26px;
    color: #009759;
    font-weight: 500;
}

:global(.vtex-numeric-stepper__input) {
    flex-grow: 1;
    height: 44px;
    background: #e7f9f1;
    border: 0;
    outline: none;
    font-size: 24px;
    line-height: 24px;
    color: #009759;
}

:global(.vtex-numeric-stepper__minus-button), :global(.vtex-numeric-stepper__plus-button) {
    height: 44px;
    background: #c3e7d7;
    border-radius: 14.5455px !important;
    border: 0;
}

@media only screen and (max-width: 1024px) {
    .quantitySelectorContainer {
        margin-top: 3rem;
    }
}