.openIconContainer{
    padding: 0;
}
:global(.vtex-store-icons-0-x-cartIcon) {
    width: 20px !important;
    height: 20px !important;
}
.minicartQuantityBadge {
    background: #e5f5ee;
    top: 0rem;
    right: -2rem;
    color: #009759;
}
.minicartWrapperContainer{
    border-radius: 100%;
    background: #E5F5EE;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
}

.minicartWrapperContainer :global(.vtex-button__label){
    padding: 0;
}

@media only screen and (max-width: 1024px) {
    .minicartQuantityBadge {
        top: -1rem;
        right: -1rem;
    }
}