.container{
    display: flex;
    align-items: center; 
}
.homeLink{
    color: #009759;
}
.arrow{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #999999;
}
.term{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #009759;
}