.trigger--disclosure-title-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.trigger--disclosure-title-footer :global(.vtex-rich-text-0-x-paragraph){
    margin-bottom: 0px;
    color: #009759 !important;
    font-size: 14px !important;
}

:global(.vtex-disclosure-layout-1-x-trigger--disclosure-title-footer)::after{
    content: '❯';
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
    color: #009759;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}

:global(.vtex-disclosure-layout-1-x-trigger--disclosure-title-footer--visible)::after{
    transform: rotate(90deg);
    position: absolute;
    top: 35%;
    right: 20px;
}

:global(.vtex-disclosure-layout-1-x-content--visible){
    padding-left: 20px;
}