/* Slider Home Principal */
.flexRow--slider-home{
  margin-top: 2rem;
}

.flexCol--menu-categorias-container {
  background: #fff;
  border-radius: 0.5rem;
}

.flexRowContent--menu-categorias-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.flexCol--grid-shelf-spotlight {
    background: #fff;
    border-radius: 0.5rem; 
}
:global(.vtex-flex-layout-0-x-flexRow--pg-institucional) :global(.vtex-rich-text-0-x-paragraph), :global(.vtex-flex-layout-0-x-flexRow--pg-institucional) :global(.vtex-rich-text-0-x-listItem){
  text-align: justify;
  color: #010302 !important;
  font-family: 'montserratlight';
}
:global(.vtex-flex-layout-0-x-flexRow--pg-institucional) :global(.vtex-rich-text-0-x-listItem){
  margin-bottom: 1rem;
}
.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-searchResultContainer)  {
  padding: 0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin:0;
}

.flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-galleryItem) {
  padding: 0;
  flex-basis: 100% !important;
  max-width: 100% !important;
}

.flexCol--grid-shelf-grid :global(.vtex-product-summary-2-x-container) {
  margin: 0;
  max-width: 100% !important;
}

.flexRow .flexCol--colshelfpromo {
  background: #fff;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

.flexCol--colshelfpromo :global(.vtex-product-summary-2-x-container) {
  max-width: 400px!important;
}
.flexCol--colshelf02 :global(.vtex-search-result-3-x-gallery) {
  padding-left: 0;
}
.flexRow--shelfsbottom .flexRowContent {
  flex-wrap: wrap;
  margin-top:1rem;
}
.flexRowContent--shelfvitrine {
  flex-wrap: wrap;
  margin-top:1rem;
}

.flexRow--shelfsbottom .flexCol--shelfsbottom04 {
  margin-top: 2rem;
  height: auto;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderArrows),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderArrows) {
  background-color:  #009759!important;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  box-shadow: -3px 3px 8px 0px rgba(0,27,47,0.20);
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrow) {
  background-color: #009759 !important;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  box-shadow: -3px 3px 8px 0px rgba(0,27,47,0.20);
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-caretIcon),
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-caretIcon) {
  filter: invert(1);
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderRightArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderRightArrow){
  right: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowRight) {
  right: -13px;
}
.flexRow--shelfsbottom :global(.vtex-slider-layout-0-x-sliderLeftArrow),
.flexRow--shelfstop :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: -1rem;
}
.flexRow--pdp-view-buy :global(.vtex-shelf-1-x-arrowLeft) {
  left: -13px;
}
.flexRowContent--main-header-mobile {
  align-items: center;
}
.flexRowContent--row-qtd {
  border-bottom: 1px solid #585858;
  padding: 20px 0;
}
.flexRow--footer-content-row {
  color: #585858;
  margin: 30px 0 0;
}
.flexRow--footer-bottom-row {
  color: #585858;
}

.flexRow--footer-bottom-row-copyright {
  background: #fff;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row-copyright){
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flexRow--footer-bottom-row-copyright :global(.vtex-rich-text-0-x-paragraph) {
  margin-bottom: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered) :global(.vtex-rich-text-0-x-paragraph){
  font-weight: bold;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-powered) :global(.vtex-store-components-3-x-imageElement){
  max-width: 75px;
}

:global(.vtex-rich-text-0-x-container--title-powered){
  align-items: center;
}

.flexRowContent--newsletter-row {
  padding: 1rem 0;
}

.flexRowContent--newsletter-row {
  align-items: center;
}

:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-form){
  max-width: 42rem;
  color: #fff;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-inputGroup){
  background: #D8D7D5;
    border-radius: 30px;
    height: 50px;
    padding: 0;
    margin-top: 15px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group){
  border: 0;
  border-radius: 30px;
  height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input){
  background: #D8D7D5;
    border: 0;
    height: 50px;
}
:global(.vtex-store-components-3-x-newsletter) :global(.vtex-button){
  background: #585858;
  border: 0;
  border-top-left-radius: 68px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 50px;
}
.flexRowContent--footer-bottom-row {
  padding: 1rem 0 2rem;
}

.flexRowContent--product-description{
    background:#fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top:0;
}

.flexRow--selected_homenageado{
  display: none;
}

.flexRowContent--select_homenageado .stretchChildrenWidth, .flexColChild--box_price_button .stretchChildrenWidth{
  padding-right: 0rem !important;
  min-width:initial !important;
}

.flexRowContent--product-assembly-options .stretchChildrenWidth{
  flex-direction: column;
}

.flexRowContent--product-main-container .stretchChildrenWidth:first-child{
  padding-right: 1rem;
  min-width: calc(100% - 350px) !important;
}

.flexRowContent--product-main-container .stretchChildrenWidth:last-child{
  width: 350px !important;
}

.flexRowContent--share_product .stretchChildrenWidth{
  width: 100% !important;
  cursor: pointer;
}

.flexRowContent--share_product .stretchChildrenWidth:hover :global(.vtex-store-components-3-x-shareButtons){
  opacity: 1;
  visibility: visible;
}

.flexCol--products-details-image{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;
  background: #fff;
  padding: 4rem 2rem;
  border-radius: 4px;
}

.flexCol--products-details-image .flexColChild--products-details-image:first-child {
  position: absolute;
  top: 25px;
}

.flexCol--products-details-image .flexColChild--products-details-image {
  width: 50%;
  height: auto !important;
}

.flexRowContent--mini-details-prod{
  flex-direction: column;
  padding-left: 2rem;
}

.flexRowContent--mini-details-prod .stretchChildrenWidth{
  width: 100% !important;
  padding: 0;
}

.flexCol--box_price_button{
  background: #fff;
  padding: 4rem 1rem;
  border-radius: 4px;
}

.flexRowContent--product-assembly-options{
  /*display: none;*/
}

.flexRowContent--pdp-view-buy{
  margin-bottom: 3rem;
}
.flexRowContent--product-description, .flexRowContent--product-reviews, .flexRowContent--questions-and-answers,
.flexRowContent--col-shelf-02 {
  flex-wrap: wrap;
}
.flexRowContent--product-description :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--product-reviews :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--questions-and-answers :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding-right: 0;
}
.flexRowContent--tabs-pdp {
  border-bottom: 2px solid #c4c4c4;
}

.flexRowContent--menu-categorias--bottom1--row .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--productSpecification {
  margin-bottom: 1rem;
}
.flexColChild--productSpecificationName {
  padding-bottom: 0;
}

.flexRow--productSpecification .stretchChildrenWidth {
  padding-bottom: 1rem;
}
.flexRowContent--menu-departamentos, .flexRowContent--menu-departamentos-title, .flexRowContent--results-row-desktop{
  flex-wrap: wrap;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-title-col{
  background:#fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  flex-direction: row;
}

.flexCol--menu-departamentos-title-col :global(.vtex-rich-text-0-x-paragraph) {
  margin:0;
}

.flexRowContent--menu-departamentos-title .flexColChild--menu-departamentos-title-col, .flexRowContent--menu-categorias-title .stretchChildrenWidth {
  width: 50%;
}
.flexRowContent--menu-departamentos-title .flexCol--menu-departamentos-col{
  background:#fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 1rem 1rem;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElementLink){
  padding: 5px 10px;
  display: block;
}
.flexCol--menu-departamentos-col :global(.vtex-store-components-3-x-imageElement), .flexRowContent--mini-banners :global(.vtex-store-components-3-x-imageElement){
  border-radius: 5px;
}

.flexCol--filterCol{
  background: #fff;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  width: 305px;
}

.flexRowContent--orderByAndSwitcher{
  padding-right: 0.5rem;
}

.flexRow--slider-brands {
  background-color: #fff;
}

.flexRow--benefits{
  background: #f9f9f9;
}

.flexRow--benefits .flexRowContent{
  margin-top: 0px;
}

.flexRow--benefits :global(.vtex-flex-layout-0-x-flexColChild ){
  width: 100%;
}

.flexRow--benefits :global(.vtex-rich-text-0-x-container){
  align-items: center;
}

.flexRow--row-informativo {
  background-color: #2e3b42;
}

.flexRowContent--slider-brands {
  margin-top:0;
}
.flexRow--benefits :global(.vtex-flex-layout-0-x-flexCol){
  display: contents;
  align-items: center;
}
.flexRow--benefits :global(.vtex-flex-layout-0-x-flexColChild){
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-paragraph){
  color: #20211f;
  font-size: 15px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 250px;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-paragraph) :global(.vtex-rich-text-0-x-image){
  width: 130px;
}
.flexRow--tabs-pdp :global(.vtex-rich-text-0-x-paragraph) :global(.vtex-rich-text-0-x-image) {
  margin-right: 10px;
}
.flexRow--tabs-pdp :global(.vtex-rich-text-0-x-paragraph) {
  display: flex;
  align-items: center;
}
.flexRow--benefits :global(.vtex-rich-text-0-x-strong){
  margin-right: 5px;
  display: block;
  font-size:22px;
  font-weight: bold;
  text-transform: uppercase;
}

.flexColChild--col-bt-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow--about-us-middle {
  background-color: #EB6A18;
}
.flexRow--about-us-middle :global(.vtex-rich-text-0-x-paragraph){
  font-size: 2rem;
}
.flexRow--form-contato :global(.vtex-input-prefix__group) {
  border: 0;
}
.flexRow--form-contato :global(.vtex-styleguide-9-x-input) {
  border: 0;
  background: #fff;
  border-radius: 12px;
}
.flexRow--form-contato :global(.vtex-textarea__input) {
  border: 0;
  background: #fff;
  border-radius: 12px;
}
.flexRow--form-contato :global(.vtex-input) {
  margin-bottom: 20px;
  display: block;
}
.flexRow--form-contato :global(.vtex-input) :global(.vtex-input__label) {
  font-size: 1rem;
}
.flexRow--form-contato :global(.vtex-store-form-0-x-formSubmitContainer) {
  margin-top: 20px;
}

/* Section Newsletter */
.flexRow--section__newsletter{
  background: #bee5d5 !important;
}
.flexRow--section__newsletter :global(.vtex-rich-text-0-x-headingLevel4){
  font-size: 16px !important;
  line-height: 16px;
  color: #009759 !important;
  text-transform: initial !important;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-newsletter-1-x-emailInputContainer){
  margin-bottom: 5px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-headingLevel4){
  margin: 0px;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-rich-text-0-x-paragraph){
  margin-bottom: 0;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-newsletterForm){
  width: 100%;
  display: flex;
}
.flexRow--section__newsletter :global(.vtex-store-newsletter-1-x-emailInputContainer){
  width: calc(100% - 182px);
  padding-right: 1rem;
}
.flexRow--section__newsletter :global(.vtex-store-newsletter-1-x-formSubmitContainer){
  width: 182px;
}
.flexRow--section__newsletter :global(.vtex-input-prefix__group){
  border: 0;
  position: relative;
}
.flexRow--section__newsletter :global(.vtex-input-prefix__group)::before{
  content: '';
  background: url("assets/images/ico-news.png");
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.flexRow--section__newsletter :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input){
  background: #fff;
  border-radius: 12px;
  padding-left: 3rem;
}
.flexRow--section__newsletter :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder{
  font-size: 14px;
  line-height: 18px;
  color: #BFBFBF;
  font-family: 'montserratlight';
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-formSubmitContainer) .t-action--small{
  width: 100%;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexColChild):last-child :global(.vtex-rich-text-0-x-paragraph){
  font-size: 14px;
  line-height: 16px;
  color: gray;
}

.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):first-child{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}
.flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
  display: flex;
  width: 100%;
  align-items: center;
}

.flexRow--section-map {
  background: #fff;
}

/* Correções Mobile */
.flexCol--col-selling-prices-list{
  flex-direction: row;
  align-items: center;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
  margin-right: 20px;
  font-size: 1.5rem;
}
.flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
  font-size: 2rem;
}
:global(.vtex-sticky-layout-0-x-wrapper--stuck) .flexRow--search-bar-row-mobile{
  display: none;
}
.flexRow--search-bar-row-mobile{
  background-color: #fff;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer){
  bottom: 15px;
}
.flexRowContent--pdp-view-buy :global(.vtex-slider-0-x-dotsContainer){
  display: none;
}
.flexRowContent :global(.vtex-slider-layout-0-x-paginationDotsContainer){
  bottom: 20px;
}
@media (max-width: 1100px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row) :global(.vtex-flex-layout-0-x-flexColChild){
    text-align: center;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--footer-bottom-row-copyright) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--footer-bottom-row-copyright) :global(.vtex-rich-text-0-x-paragraph){
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8em;
  }
  :global(.vtex-rich-text-0-x-container--title-powered) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    display: none;
  }
  
}
@media only screen and (max-width: 1024px) {
  .flexRowContent--product-main-container-mob{
    flex-direction: column;
  }
  .flexRowContent--product-main-container-mob .stretchChildrenWidth{
    width: 100% !important;
    padding: 0;
  }
  .flexCol--products-details-image .flexColChild--products-details-image:first-child {
    position: relative;
    top: initial;
  }
  .flexRow--product-main-container-mob{
    background: #fff;
    margin-top: -12px;
  }
  .flexCol--products-details-image{
    padding: 0;
  }
  .flexRowContent--mini-details-prod{
    padding-top: 2rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
  }
  .flexCol--box_price_button{
    padding: 0rem;
    padding-bottom: 2rem;
  }
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flexRowContent--product-main-container .stretchChildrenWidth:first-child{
    padding-right: 0rem;
    min-width: initial !important;
  }
  .flexCol--products-details-image .flexColChild--products-details-image {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .flexRowContent--menu-categorias-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .flexCol--menu-categorias-container :global(.vtex-rich-text-0-x-headingLevel2) {
    font-size:1.5rem;
  }

  .flexCol--grid-shelf-spotlight {
    margin-bottom:1rem;
  }
  .flexRowContent--mini-banners {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .flexRowContent--mini-banners :global(.vtex-flex-layout-0-x-flexCol){
    padding-left: 3px;
    padding-right: 3px;
  }
  .flexCol--grid-shelf-spotlight :global(.vtex-flex-layout-0-x-flexRowContent) {
    padding-top: 0;
  }
  .flexCol--grid-shelf-grid :global(.vtex-search-result-3-x-gallery) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--grid-shelf-grid) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 150px!important;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-listPrice){
    margin-right: 10px;
    font-size: .9rem;
  }
  .flexCol--col-selling-prices-list :global(.vtex-product-price-1-x-sellingPrice) {
    font-size: 1rem;
  }
  .flexRowContent--results-row-desktop :global(.vtex-search-result-3-x-gallery--multiplegallery) :global(.vtex-product-summary-2-x-image){
    max-width: 150px!important;
    height: 130px!important;
  }
  .flexCol--stock-pdp{
    padding-top: 5px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--benefits) :global(.vtex-flex-layout-0-x-flexRowContent){
    display: flex;
    align-items: center;
  }
  .flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexColChild):last-child{
    flex-wrap: wrap;
  }
  .flexRow--section__newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-store-newsletter-1-x-newsletterForm){
    flex-direction: column;
  }
  .flexRow--section__newsletter :global(.vtex-store-newsletter-1-x-emailInputContainer){
    width: 100%;
    padding-right: 0;
  }
  .flexRow--section__newsletter :global(.vtex-store-newsletter-1-x-formSubmitContainer){
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .flexRow--section__newsletter :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button ){
    width: 182px;
  }
  .flexRowContent--section-map{
    padding: 1.5rem 0;
  }
}

.flexRowContent--main-header-mobile {
  background: #fff;
  padding: 1rem 1rem 0.5rem 1rem;
}
.flexRowContent--product-seals .flexCol {
  flex-direction: row;
  gap:0.5rem;
}
.flexRow--footer-contato-row{
  background: #D8D7D5;
  padding: 15px 0;
}
.flexRowContent--footer-contato-row, .flexRowContent--footer-row-horario, .flexRowContent--footer-row-whatsapp,.flexRowContent--footer-row-email{
  align-items: center;
}
.flexRowContent--footer-row-whatsapp :global(.vtex-store-link-0-x-link){
  text-decoration: none;
  color: #1C3664;
  font-weight: 500;
  font-size: 30px;
}
.flexRowContent--footer-contato-row :global(.vtex-rich-text-0-x-paragraph){margin: 0;}
.flexColChild--btn-comprar-prod :global(.vtex-button){
  background: #009759;
  border-radius: 16px;
  margin-top: 10px;
  height: 56px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: initial;
}

:global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-flexRowContent){
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.flexRowContent--footer-bottom-pagamentos{
  max-width: 370px;
}

.flexCol--footer-col-social{
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
}

.flexCol--footer-col-social .flexColChild--footer-col-social{
  height: auto !important;
  margin-right: 10px;
}

.flexCol--footer-col-social .flexColChild--footer-col-social:first-child{
  width: 100%;
  margin-right: 0px;
  height: auto !important;
}

.flexColChild--footer-copyright :global(.vtex-rich-text-0-x-paragraph), .flexColChild--footer-copyright :global(.vtex-rich-text-0-x-link){
  color: #000 !important;
  font-size: 0.6rem !important;
  margin-bottom: 1rem;
}

.flexRowContent--footer-bottom-powered {
  justify-content: center;
}

.flexRowContent--footer-bottom-powered .stretchChildrenWidth {
  max-width: 100px;
}

@media (min-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: auto !important;
  }
}

@media (max-width: 1024px) {
  .flexRowContent--minibanners-home .flexCol{
    padding: 0px !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-flexRowContent){
    padding-top: 0;
  }
  .flexCol--footer-col-social{
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .flexColChild--infostore-footer{
    margin-bottom: 1rem;
  }
  .flexColChild--infostore-footer :global(.vtex-rich-text-0-x-paragraph){
    line-height: 16px !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--footer-content-row) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
  }
  .flexColChild--box__contact__footer :global(.vtex-rich-text-0-x-wrapper){
    width: 100%;
  }
  .flexColChild--box__contact__footer :global(.vtex-rich-text-0-x-headingLevel4){
    margin: 0.2rem 0;
  }
  .flexColChild--box__contact__footer :global(.vtex-rich-text-0-x-headingLevel4), .flexColChild--box__contact__footer :global(.vtex-rich-text-0-x-paragraph){
    text-align: left;
    margin-bottom: 0 !important;
  }
  .flexCol--box__contact__footer .flexColChild--box__contact__footer{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }
  .flexCol--box__contact__footer .flexColChild--box__contact__footer::before{
    content: '';
    background: url("assets/svg/ico-zap-footer.svg");
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 10px;
  }
  .flexCol--box__contact__footer .flexColChild--box__contact__footer:first-child::before{
    content: '';
    background: url("assets/svg/ico-tel-footer.svg");
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 10px;
  }
  .flexCol--box__contact__footer .flexColChild--box__contact__footer:last-child::before{
    content: '';
    background: url("assets/svg/ico-email-footer.svg");
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 10px;
  }
  .flexRowContent--footer-bottom-row :global(.vtex-rich-text-0-x-wrapper){
    width: 100%;
  }
  .flexRowContent--footer-bottom-row .flexColChild{
    text-align: left !important;
  }
  .flexRowContent--footer-bottom-row :global(.vtex-rich-text-0-x-headingLevel4),  .flexRowContent--footer-bottom-row :global(.vtex-rich-text-0-x-paragraph){
    text-align: left;
    margin-bottom: 1rem !important;
  }
  .flexRowContent--footer-bottom-powered {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
}