:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDot{
    background: #33AC7A;
    width: 12px !important;
    height: 12px !important;
}
.paginationDot--isActive{
    background: #F1F1F1;
    width: 24px !important;
    height: 12px !important;
    border-radius: 6px;
}