.container{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
}

.searchBarContainer {
    max-width: 720px;
    margin-right: 3rem;
}

.logoContainer {
    padding:0;
}

.logoLink {
    margin-right: 3rem;
}

.logoImage {
    max-width: 100%;
    min-width: 148px;  
}

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
    height: 44px;
    border-radius: 10px;
    background: #F4F4F4;
    border: 0;
    align-items: center;
    padding-left: 1rem;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group)::before {
    content: '';
    background: url("assets/svg/ico-search-black.svg");
    width: 22px;
    height: 25px;
    display: block;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    font-size: 14px;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input__suffix) {
    display: none;
}

:global(.vtex-store-components-3-x-container ) :global(.vtex-flex-layout-0-x-flexRowContent--pdp-view-buy) {
    padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink {
    display: flex;
    height: 0;
    align-content: center;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.flexColChild{
    text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .imageElementLink .imageElement {
    margin-bottom: -100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.productImagesGallerySwiperContainer .swiperCaret{
    display: none;
}

.productImagesThumb .figure{
    padding: 0.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    margin: 0 0.3rem;
}

.shareContainer .shareButtons{
    position: absolute;
    top: -5px;
    left: 130px;
    opacity: 0;
    visibility: hidden;
}

.productNameContainer {
    font-weight: 500;
    font-size: 20px;
    color:#4C4C4C;
}

.productBrandContainer {
    margin-bottom: 0;
}

.productBrandName {
    color:#1f201e;
    font-size: 1.0rem;
    font-weight: 600;
}

.listPriceValue, .sellingPrice {
    padding: 0;
    width: 100%;
    text-align: left;
}

.listPriceLabel, .sellingPriceLabel {
    display: none;
}

.price_listPrice {
    color: #282D2F;
    font-size: 1.2rem;
    font-weight: 500;
} 

.price_sellingPrice {
    font-weight: bold;
    color: #009759;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
}

.price_installmentContainer {
    color: #666666;
    font-size: 14px;
}

.savingPriceValue {
    background: #8bc34a;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}

.skuSelectorSubcontainer{
    margin: 1rem 0rem 0rem;
}

.skuSelectorOptionsList{
    margin-left: 0px;
}

.skuSelectorName{
    color: #4C4C4C;
    font-weight: 500;
    font-size: 14px;
}

.skuSelectorItemImage{
    height: 50px;
    width: 50px;
}

.frameAround{
    border: 0px;
}

.skuSelectorItem--selected .skuSelectorInternalBox{
    border: 2px solid #009759;
}

.skuSelectorInternalBox .valueWrapper{
    font-size: 14px;
    text-transform: lowercase;
}

:global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem):first-child{
    margin-left: 0px;
}

.productDescriptionTitle{
    color: #009759;
    font-size: 20px;
}

.productDescriptionContainer {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.productDescriptionContainer--short_description{
    margin-bottom: 0 !important;
}

.productDescriptionText {
    background: #fff;
    border-radius: 4px;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 28px;
    padding: 1.5rem 1rem;
    color: #808080;
}

.container--short_description {
    padding: 0 !important;
}

.productDescriptionText--short_description{
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: #B2B2B2;
    font-family: 'montserratlight';
}

.productDescriptionText .pointerEventsAuto {
    background: #fff;
    text-align: left;
}

.productDescriptionText .pointerEventsAuto .showMoreButton {
    color: #4C4C4C;
    text-transform: lowercase;
    background: #fff;
    text-decoration: none;
    padding: 0;
    margin: 1rem 0;
}

.shippingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0;
    position: relative;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 1rem;
}
.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label){display: none;}
.shippingContainer :global(.vtex-address-form__postalCode){
    width: calc(100% - 60px);
    padding: 0px;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL){
    display: none;
}
.shippingContainer :global(.vtex-address-form__postalCode)::before {
    content: "Calcular frete e prazo";
    font-size: 12px;
    line-height: 12px;
    color: #4C4C4C;
    margin-bottom: 0.5rem;
    display: block;
}
.shippingContainer :global(.vtex-input-prefix__group){
    height: 48px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 14px;
}

.shippingContainer :global(.vtex-address-form-4-x-input), .shippingContainer :global(.vtex-input__suffix){
    background: transparent;
}

.shippingContainer :global(.vtex-button){
    margin-top: 20px;
    width: 51px;
    height: 48px;
    background: #E5F5EE;
    border-radius: 14px;
    border: 0;
}

.shippingContainer :global(.vtex-button__label){
    font-size: 0;
}

.shippingContainer :global(.vtex-button__label)::before{
    content: 'Ok';
    font-size: 12px;
    line-height: 12px;
    color: #009759;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer--opened) :global(.vtex-input-prefix__group){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.imageElement--icon-zapzap{
  max-height: 50px;
  display: block;
  position: fixed;
  bottom: 2%;
  right: 1%;
  left: unset;
  width: 50px;
  z-index: 999999;
}
@media screen and (max-width: 760px) {
  .searchBarContainer {
    margin-right: 0;
  }
  .logoLink{
    margin-right: 0rem;
  }
  :global(.vtex-login-2-x-buttonLink) :global(.vtex-button__label){
    padding: 0px !important;
  }
  :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-button__label){
    padding: 0px !important;
  }
}
.infoCardCallActionContainer{width: 100%;}
.infoCardContainer--info-card-ofertas{width: 100%;}
:global(.vtex-store-components-3-x-shareLabel){
    color: #BFBFBF;
    font-size: 12px;
    display: flex;
    align-items: center;
}
:global(.vtex-store-components-3-x-shareLabel)::before{
    content: '';
    background: url("assets/svg/ico-share.svg");
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}
/* Mobile */
@media (max-width: 1023px) {
    .shippingContainer {
        width: 100%;
    }
    .searchBarContainer {
        max-width: 100%;
        margin-right: 0rem;
    }
}