@font-face {
  font-family: 'montserratlight';
  src: url('assets/fonts/montserrat-light.woff2') format('woff2'),
       url('assets/fonts/montserrat-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montserratregular';
  src: url('assets/fonts/montserrat-regular.woff2') format('woff2'),
       url('assets/fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}